@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap");
* {
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #fdfcfb, #e2d1c3);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-bottom: 32px;
}

.container {
  position: fixed;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding: 0 12.5%;
  z-index: 1;
  overflow: hidden;
  /*overflow-y: scroll;*/
  padding-top: 100px;
}

.container .header {
  height: 80px;
  background-color: #333333;
  margin-top: 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  line-height: 80px;
  text-align: center;
  color: #ffffff;
}

.container .footer {
  width: 100%;
  text-align: right;
  margin-top: 30px;
}

.container .reload {
  margin-top: 30px;
  outline: none;
  border: solid 4px #454ade;
  background: transparent;
  color: #454ade;
  padding: 20px;
  font-size: 24px;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s 0s linear;
}

.container .reload:hover {
  background: #454ade;
  color: #ffffff;
}

.container .game-board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: -1;
  position: relative;
  margin-top: 32px;
  overflow: auto;
}

.container .game-board .cell {
  width: 20%;
  flex: 1 0 18%;
  padding: 20px;
  border: 0.2px solid #cccccc;
  min-height: 100px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s 0s linear;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  font-size: 16px;
}

.container .game-board .cell span {
  text-align: center;
}

.container .game-board .cell .number {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 10px;
}

.container .game-board .cell:nth-child(2n + 1) {
  background-color: #d8fde9;
}

.container .game-board .cell:nth-child(2n + 1):hover {
  background-color: #77f8b3;
}

.container .game-board .cell:nth-child(2n) {
  background-color: #f5e1e6;
}

.container .game-board .cell:nth-child(2n):hover {
  background-color: #db94a6;
}

.container .game-board .cell.selected {
  background-color: #74ccfb;
}

.container .game-board .cell.selected:hover {
  background-color: #12a7f8;
}

@media only screen and (max-width: 750px) {
  .container .game-board .cell {
    font-size: 2.5vw;
  }
}
